.quizContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  width: 80vw;
  margin: 50px auto;
  height: 70vh;
}

.quizHeader {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
}

.quizTimer {
  color: red;
  font-weight: bold;
}

.quizQuestion {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quizOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quizOption {
  flex: 1 1 45%;
  max-width: 45%;
  padding: 10px; /* Reduced padding */
  margin: 5px;
  background-color: #f1f1f1;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 150px; /* Reduced min-height for better spacing */
}

.optionText {
  font-size: 16px;
  color: #333;
  margin-right: 10px; /* Add some spacing between text and image */
}

.quizImage {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  max-height: 100px; /* Reduced max-height for the image */
}

.selected {
  border-color: #007bff;
}

.quizNextButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.quizNextButton:hover {
  background-color: #218838;
}

.textImageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Ensure the container takes the full width */
}

@media (max-width: 768px) {
  .quizContainer {
    width: 90%;
    padding: 15px;
    margin: 30px auto;
  }

  .quizOptions {
    flex-direction: column;
  }

  .quizOption {
    flex: 1 1 100%;
    margin: 10px 0;
    max-width: 100%; /* Make each option take the full width on smaller screens */
  }

  .quizHeader {
    font-size: 16px;
  }

  .quizQuestion {
    font-size: 18px;
  }

  .quizNextButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
