.pollContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.questionItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.questionNumber {
  background-color: #eee;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.questionNumber.selected {
  background-color: #4CAF50;
  color: white;
}

.removeButton {
  position: absolute;
  top: -8px;
  right: -8px;
  background: none;
  border: none;
  color: #D60000;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.addButton {
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.maxQuestionsText {
  margin-left: auto;
  font-size: 14px;
  color: #666;
}

.questionContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.questionInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.optionTypes {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.optionTypes label {
  font-size: 14px;
  margin-right: 10px;
}

.optionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  flex-wrap: wrap; /* Ensure options wrap correctly */
}

.optionInput,
.dualInput {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  min-width: 200px;
}

.removeOptionButton {
  background: none;
  border: none;
  color: #ff4d4d;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: -25px;
}

.addOptionButton {
  background-color: #f0f0f0;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.addOptionButton:hover {
  background-color: #e0e0e0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.footer button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.footer button:hover {
  opacity: 0.9;
}

.createQuizButton {
  background-color: #4CAF50;
  color: white;
}

.createQuizButton:hover {
  background-color: #45a049;
}

.correctOption input {
  border-color: #4caf50;
  background-color: #e8f5e9;
}
