.headingh2{
  text-align: center;
  color: #5076FF;
  font-weight: 600;
  font-size: 30px;
}
.analyticsContainer {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 70px;
  font-weight: 400;
  font-family: "Jomhuria", serif;
  margin-bottom: 40px;
  text-align: center;
}

.navList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.navList li {
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  background-color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.navList li.active {
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.2); /* Active page style */
}

.navList li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.2); /* Box shadow only on hover */
}

.logoutSection {
  width: 100%;
}

.divider {
  border: none;
  border-top: 1px solid #333;
  margin-bottom: 20px;
}

.logoutButton {
  background-color: #ffffff;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.logoutButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.2); /* Box shadow only on hover */
}

.mainContent {
  flex: 1;
  padding: 30px;
  background-color: #EDEDED;
}

.analyticsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.analyticsTable th,
.analyticsTable td {
  border: none; /* Remove all borders */
  padding: 12px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #ddd; /* Keep only the bottom border */
}

.analyticsTable th {
  background-color: #5076FF; /* Updated background color */
  color: #ffffff; /* Updated text color for better readability */
}

.analyticsTable tr:nth-child(even) {
  background-color: #B3C4FF;
}

 .actionsColumn{
  display: flex;
  margin-left: -15px;
  gap: 10px;
  align-items: center;
  justify-content: center;
 }

.analyticsTable td button,
.analyticsTable td a {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: none; /* Remove background */
  text-decoration: none; /* Remove underline if any */
  box-shadow: none; /* Remove shadow */
}

.analyticsTable td a {
  text-decoration: underline; /* Underline the text for Question Wise Analysis */
  color: #5076FF; /* Same color as table headers */
}
