.publishSuccessContainer {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 420px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #888;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px !important; /* Force the margin to apply */
}



.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Ensures equal spacing between the URL input and the button */
}

.quizLinkInput {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.shareButton {
  background-color: #4caf50;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.shareButton:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.shareButton:active {
  background-color: #39843c;
  transform: translateY(0);
}
